<!DOCTYPE html>
<html>
	<head>
		<% include meta.ejs %>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Acme"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Merienda+One"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="css/x.css" />
		<title></title>
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="/__/firebase/5.8.2/firebase-app.js"></script>
		<script src="/__/firebase/5.8.2/firebase-auth.js"></script>
		<script src="/__/firebase/5.8.2/firebase-firestore.js"></script>
		<script src="/__/firebase/init.js"></script>
		<script>
			function signOut() {
				firebase.auth().signOut();
				window.location = '/';
			}
		</script>
		<script>
			function initApp() {
				var db = firebase.firestore();
				firebase.auth().onAuthStateChanged(function(user) {
					if (user) {
						document.getElementById('qwe').value = user.email;
						document.getElementById('qwe2').value = user.email;
					}
				});
			}
			window.onload = initApp();
		</script>

		<script>
			function submitAdd() {
				var k = document.getElementById('shop_name').value;
				if (!k.match('^[a-zA-Z]*$')) {
					window.alert('Enter valid shop name.');
					document.getElementById('myAdd').style.display = 'none';
					return;
				}
				var checklim = document.getElementById('shop_amt').value;
				if (
					!(
						checklim.match('^[0-9]*$') &&
						checklim > 0 &&
						checklim.length > 1
					)
				) {
					window.alert('Enter valid amount');
					document.getElementById('myAdd').style.display = 'none';
					return;
				}
				var checkcat = document.getElementById('myCat').value;

				var db = firebase.firestore();
				var user = firebase.auth().currentUser;
				if (user) {
					var x = user.email;
					var c = checkcat;
					var sch = db
						.collection('sign')
						.doc(x)
						.collection('transaction');

					var sch1 = db
						.collection('sign')
						.doc(x)
						.collection('categories');

					var xyz = sch.doc(c);
					var xyz1 = sch1.doc(c);
					xyz1.get()
						.then(doc=>{
							if(doc.exists){
								
								var cur= parseInt( doc.data().current);
								var amt= parseInt(document.getElementById('shop_amt').value);
								cur= cur+ amt;
								doc.data().current=cur;
								
							}
							else{
								window.alert("no data");
							}

							xyz1.update({
								current : cur
							})
						})

						 
					window.alert("Adding transaction...");
					xyz.get()
						.then(doc => {
							if (doc.exists) {
								var i = doc.data().pointer;
								var mytran = 'tran' + i;
								i++;
								var obj = {
									[mytran]: {
										name: document.getElementById(
											'shop_name'
										).value,
										amount: document.getElementById(
											'shop_amt'
										).value,
										create: firebase.firestore.Timestamp.now().toDate().toString()
									},
									pointer: i
								};
								xyz.set(obj, { merge: true })
									.then(function() {
										document.getElementById('myAdd').style.display = 'none';
										$('#hi').submit();
										window.location.reload('/transaction');
									})
									.catch(function(error) {
										console.log(
											'Error writing document',
											error
										);
									});
							} else {
								var ob = {
									current: 0,
									limit: document.getElementById('cat_limit')
										.value
								};
								xyz.set(ob)
									.then(function() {
										document.getElementById(
											'myAdd'
										).style.display = 'none';
										$('#hi').submit();
									})
									.catch(function(error) {
										console.log(
											'Error writing document: ',
											error
										);
									});
							}
						})
						.catch(err => {
							window.alert(err);
						});
				} else {
					window.alert('User not found');
				}
			}
		</script>

		<script>
			function senddata() {
				$('#hi').submit();
			}

			function senddata2() {
				$('#by').submit();
			}
		</script>
		<style>
			td {
				border: 1px #ddd solid;
				padding: 5px;
				cursor: pointer;
			}

			.selected {
				background-color: brown;
				color: #fff;
			}
		</style>
	</head>
	<body>
		<div class="row">
			<div class="col-md-2 blue">
				<img src="img/logo2.png" height="100px" width="100px" id="img1"
				margin-left: "10px" />
			</div>
			<div class="col-md-6 blue">
				<h4 align="left" id="x1">
					<a href="/profile">TrackeX</a>
				</h4>
				<h5 align="left">Have Expense your way!!!</h5>
				<h6 id="x"></h6>
			</div>

			<div class="col-md-4 blue1">
				<button
					type="button"
					class="btn btn-outline-info"
					onclick="signOut()"
				>
					Log Out
				</button>
			</div>
		</div>

		<div class="col-md-3">
			<div class="sidenav">
				<a href="/profile" id="pro">
					<button class="btn btn-danger btn-lg">Profile</button>
				</a>
				<a>
					<button
						class="btn btn-primary btn-lg"
						onclick="senddata2()"
					>
						Settings
					</button>
				</a>
				<a href="/showana">
					<button class="btn btn-warning btn-lg">
						Show Analysis
					</button>
				</a>
			</div>
		</div>

		<div class="container" align="center" margin-top: "100px" ;>
		<br />

		<div class="row">
			<div class="col-25">
				<label for="category">Month</label>
			</div>

			<div class="cat">
				<select id="category" name="Month">
					<option>January</option>
					<option>February</option>
					<option>March</option>
					<option>April</option>
					<option>May</option>
					<option>June</option>
					<option>July</option>
					<option>August</option>
					<option>September</option>
					<option>October</option>
					<option>November</option>
					<option>December</option>
				</select>
			</div>
			<button
				type="button"
				class="btn btn-success"
				style="margin-top: 18px"
				onclick="openAdd()"
			>
				Add Transaction
			</button>
		</div>
		<br />
		<div class="row">
			<div class="col-25">
				<button
					type="button"
					class="btn btn-success"
					style="margin-top: 18px"
					onclick="openView()"
				>
					View transactions
				</button>
			</div>

			<!-- <div class="col-40">
				<button
					type="button"
					class="btn btn-success"
					style="margin-top: 18px"
					onclick="openMove()"
				>
					Move transaction
				</button>
			</div> -->
			<div class="col-80">
				<button
					type="button"
					class="btn btn-success"
					style="margin-top: 18px"
					onclick="openDel()"
				>
					Delete transaction
				</button>
			</div>
		</div>
		<div class="col-md-50 table" style="margin:100px;">
			<table style="width:80%" id="trantable">
				<tr>
					<th>Sr. No.</th>
					<th>Category</th>
					<th>Title</th>
					<th>Amount</th>
				</tr>

				<!-- <% for(var i=0;i<Object.keys(obj).length;i++) { %>
								<% if (obj1[i]) { %>
							<tr>
								<td><%= i+1%></td>
								<td>
									<%=obj[i]%>
								</td>
								<td>
									<%=obj1[i].name%>
								</td>
								<td>
									<%=obj1[i].amount%>
								</td>
							</tr>
							<% } %>
							<% } %> -->

							

	
				<% for(var i=0;i<Object.keys(obj).length;i++) { %>
								<% if (obj1[i]) { %>
									<% for(var j=0;i<obj[i].pointer;j++) { %>
							<tr>
								<td><%= i+1%></td>
								<td>
									<%=obj[i]%>
								</td>
								<td>
									<%= obj1[j].name%>
								<!--<%Object.keys(obj1)%>-->
								</td>
								<td>
										<%= obj1[j].amount%>
									<!--<%Object.keys(obj1)%>-->
									</td>
								
							</tr>
							<% } %>
							<% } %>
							<% } %>
							
			</table>
		</div>
		<div class="form-popup" id="myAdd">
			<div class="modal-content">
				<h4>Enter the details:</h4>
				<h4>Category</h4>
				<div class="row">
					<select
						id="myCat"
						style="width: 70%;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 4px;
                resize: vertical;"
					>
						<% for(var i=0;i<Object.keys(obj).length;i++){ %>
									<option>
										<%=obj[i] %>
									</option>
									<%}%>
					</select>
				</div>
				<div class="row">
					<input
						type="text"
						id="shop_name"
						name="shop_name"
						placeholder="Title"
						style="width: 70%;
              padding: 20px;
              border: 1px solid #ccc;
              border-radius: 4px;
              resize: vertical;"
					/>
				</div>
				<div class="row">
					<input
						type="text"
						id="shop_amt"
						name="myAdd"
						placeholder="Amount"
						style="width: 70%;
              padding: 20px;
              border: 1px solid #ccc;
              border-radius: 4px;
              resize: vertical;"
					/>
				</div>

				<button
					type="button"
					class="btn btn-danger"
					onclick="closeAdd()"
					style="margin-top:50px;"
				>
					Cancel
				</button>
				<button
					type="submit"
					class="btn btn-success"
					onclick="submitAdd()"
					style="margin-top:50px;"
				>
					Submit
				</button>
			</div>
		</div>

		<div class="form-popup" id="myView">
			<div class="modal-content">
				<h4><p>Transaction:</p>
					<br />
					<p>
						Rs.<h4 id="vmon"></h4><br />
						debited from ATM card<br />at<h4 id="vdate"></h4><br />Thankyou for using our
						services!
					</p></h4>
					<button
						type="button"
						class="btn btn-danger"
						onclick="closeView()"
					>
						Cancel
					</button>
			
			</div>
		</div>
		<div class="form-popup" id="myMove">
			<div class="modal-content">
				<h1>Move Transaction to</h1>
				<label for="email">
					<b>Category Name</b>
				</label>
				<div class="cat">
					<select id="catmove" name="category">
						<% for(var i=0;i<Object.keys(obj).length;i++) { %>
									<option>
										<%= obj[i] %>
									</option>
									<% } %>
					</select>
				</div>
				<div class="row" id="bu1">
					<a onclick="movetran()">
						<button type="submit" class="btn btn-success">
							Move
						</button>
					</a>

					<button
						type="button"
						class="btn btn-danger"
						onclick="closeMove()"
					>
						Cancel
					</button>
				</div>
			</div>
		</div>

		<div class="form-popup" id="myDel">
			<div class="modal-content">
				<h1>Are you sure you want to delete?</h1>
				<br />
				<div class="row" id="bu1">
					<a>
						<input type="button" name="OK" class="ok" value="OK" />
					</a>

					<button
						type="button"
						class="btn btn-danger"
						onclick="closeDel()"
					>
						Cancel
					</button>
				</div>
			</div>
		</div>
		<form id="hi" name="justname" action="/transaction">
			<input name="qwe" id="qwe" class="hidden" />
		</form>

		<form id="by" name="justname" action="/setting">
			<input name="qwe" id="qwe2" class="hidden" />
		</form>

		<script>
			function openAdd() {
				document.getElementById('myAdd').style.display = 'block';
			}
			function closeAdd() {
				document.getElementById('myAdd').style.display = 'none';
			}
			function openView() {
				document.getElementById('myView').style.display = 'block';
			}
			function closeView() {
				document.getElementById('myView').style.display = 'none';
			}
			function openMove() {
				$('.ok').on('click', function(e) {
					alert($('#table tr.selected td:first').html());
				});
				document.getElementById('myMove').style.display = 'block';
			}
			function closeMove() {
				document.getElementById('myMove').style.display = 'none';
			}
			function openDel() {
				document.getElementById('myDel').style.display = 'block';
			}
			function closeDel() {
				document.getElementById('myDel').style.display = 'none';
			}
		</script>
		<script>
				var tableData;
				$('#trantable tr').click(function () {
					$(this)
						.addClass('selected')
						.siblings()
						.removeClass('selected');
					tableData = $(this)
						.children('td')
						.map(function () {
							return $(this).text().trim()
						})
						.get();
					var td = tableData[1].toString();				
					var tdx = tableData[2].toString();	
					document.getElementById('vdate').innerHTML=tableData[2];
					document.getElementById('vmon').innerHTML=tableData[3];			
				});
	
				$('.ok').on('click', function (e) {
					var db = firebase.firestore();
					var user = firebase.auth().currentUser;
					if (user) {
						var x = user.email;
						var c = tableData[1];
						var flag=0;
						var sch = db
							.collection('sign')
							.doc(x)
							.collection('transaction');
						
						var xyz = sch.doc(c);
	
						xyz.get()
							.then(doc => {
								window.alert("Deleting..");
								var mydata = doc.data();
								var flag=0;
								for (var j = 0; j < doc.data().pointer; j++) {
									var tran = "tran" + j;
									console.log(mydata);
									console.log(tran);
									console.log(doc.data());
									
									if (doc.data().tran0.name == tableData[2]) {
										flag=1;
										xyz.update({
											tran0: firebase.firestore.FieldValue.delete()
											
										});
										doc.data().pointer=doc.data().pointer-1;
										document.getElementById('myDel').style.display = 'none';
										//$("#hi").submit();
										window.alert("DONE");
										$("#hi").submit();
										
									}
								}
	
							})
							.catch(err => {
								window.alert(err);
							});
	
						
					}
	
					
	
				});

				
			</script>

			
	</body>
</html>
